<!--@subject Nieuw wachtwoord voor {{var customer.name}} @-->

<link href="variables/mail_styles.css" rel="stylesheet" type="text/css" />
{{customVar code=mail_styles}}

        <div>
         <table class="main-table">
             <tr>
                    <td align="center" valign="top">
                    <!-- [ header starts here] -->
                     <table align="center">
                    <tr>
                        <td>
                            <a href="{{store url=""}}"><img class="logo" src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var customer.store.website.name}}"/></a></td>
                    </tr>
                </table>

                    <!-- [ middle starts here] -->
                      <table align="center">
                          <tr>
                                <td>
                             <p><strong>Beste {{var customer.firstname}}</strong>,<br/><br/>
                               Uw nieuwe wachtwoord is: <strong>{{var customer.password}}</strong></p>
                            <p>U kunt uw wachtwoord op ieder moment wijzigen door <a href="{{store url="customer/account/"}}">in te loggen op uw account</a>.<p>

<p>
	Met vriendelijke groet,<br/>
	<strong>{{config path="general/store_information/name"}}</strong><br/><br/>
	<table>
		<tr>
			<td>
			<strong>{{config path="general/store_information/phone"}}</strong><br/>
			<a href="{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a><br/>
			<a href="{{config path="web/unsecure/base_url"}}">Bezoek onze webshop</a>
			</td>
			<td>
			<div align="right">{{config path="general/store_information/address"}}</div>
			</td>
		</tr>
	</table>
</p>

                             </td>
                           </tr>
                       </table>

                    </td>
               </tr>
           </table>
            </div>
