<!--@subject Herinnering: Een betalingstransactie is mislukt @-->
<!--This is a comment block

Available vars in this template:
  - name            Recipient name
  - email           Recipient Email address
  - product_name    Product name
  - product_url     Url for product
  - product_image   Url for product small image (75 px)
  - message         Sender custom message
  - sender_name     Sender name
  - sender_email    Sender email

Use vars: {{var var_name}}-->

<link href="variables/mail_styles.css" rel="stylesheet" type="text/css" />
{{customVar code=mail_styles}}

<div>
<table class="main-table">
<tr>
    <td>
        <!-- [ header starts here] -->
        <table align="center">
            <tr>
                <td><a href="{{store url=""}}"><img class="logo" src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var order.getStoreGroupName()}}" /></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->



<table align="center">
            
        <tbody>
        <tr>
            <td>
			
				<p>
                    <h3>De volgende betaling is mislukt:</h3>
                </p>
			
			
                <p>
                    <b>Reden:</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Klant:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Producten</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Totaal:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Factuuradres:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Verzendadres:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Verzendmethode:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Betaalmethode:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Datum en Tijd:</b><br />
                    {{var dateAndTime}}
                </p>
				
<p>
	Met vriendelijke groet,<br/>
	<strong>{{config path="general/store_information/name"}}</strong><br/><br/>
	<table>
		<tr>
			<td>
			<strong>{{config path="general/store_information/phone"}}</strong><br/>
			<a href="{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a><br/>
			<a href="{{config path="web/unsecure/base_url"}}">Bezoek onze webshop</a>
			</td>
			<td>
			<div align="right">{{config path="general/store_information/address"}}</div>
			</td>
		</tr>
	</table>
</p>
				
				
            </td>
        </tr>
    </tbody>
</table>






        </table>
		</td>
</tr>
</table>
</div>